<html>
  <head>
    <title>Sepsis Home Page</title>
      <link rel="stylesheet" type="text/css" href="sepsis/sepsis.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <h1> Sepsis </h1>

<div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3> Did you know... </h3>
            <p> Sepsis is the 11th leading cause of death, higher than breast cancer and prostate cancer. </p>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 cell">
                <p><a href="http://www.nhs.uk/Conditions/Blood-poisoning/Pages/Introduction.aspx">NHS Website</a><br /> Sepsis is described as a rare but serious consequence to an infection. Without quick treatment, it can lead to organ failure and death. </p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="https://www.youtube.com/watch?v=RUKkOPelG54&index=3&list=PLWHez0kRXfZ880x-xXWXvOUN-gPhZxJ8v"> AI and Faster Diagnosis</a><br /> Suchi Saria discusses the need for technology in the healthcare sector, to improve diagnoses of sepsis during its early stages. </p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="project.html"> Symptom Checker </a><br /> Click on the link above to check your symptoms. </p>
              </div>
            </div>
          </div>
        </div>
      </div>