<html>
  <head>
    <title>Sepsis Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/components.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/icons.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/responsee.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="owl-carousel/owl.carousel.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="owl-carousel/owl.theme.css")}}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--  <link rel="stylesheet" type="text/css" href="sepsis.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  </head>  

  <body>
    <h1> Sepsis </h1>

      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
          <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="/img/sepsis_table.jpg" alt="">
              <h2 class="text-thin"> NHS Website </h2>
              <p>Sepsis is described as a rare but serious consequence to an infection. Without quick treatment, it can lead to organ failure and death.</p> 
              <a class="text-more-info text-primary-hover" href="http://www.nhs.uk/Conditions/Blood-poisoning/Pages/Introduction.aspx">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="img/img-02.jpg" alt="">
              <h2 class="text-thin">Valid code</h2>
              <p>Suchi Saria discusses the need for technology in the healthcare sector, to improve diagnoses of sepsis during its early stages.</p> 
              <a class="text-more-info text-primary-hover" href="https://www.youtube.com/watch?v=RUKkOPelG54&index=3&list=PLWHez0kRXfZ880x-xXWXvOUN-gPhZxJ8v">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="img/img-03.jpg" alt="">
              <h2 class="text-thin">Symptom Checker</h2>
              <p>Click on the link above to check your symptoms.</p> 
              <a class="text-more-info text-primary-hover" href="/project">Read more</a>  
  
            </div>
          </div>
        </div>
      </section>
      
      <!-- Section 2 -->
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">Educate Yourself Today</h2>
            <p class="text-size-20">Insert new text here ..... </p>
          </div>
        </div>  
      </section>
      
<!--
<div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3> Did you know... </h3>
            <p> Sepsis is the 11th leading cause of death, higher than breast cancer and prostate cancer. </p>
            <div class="grid-x grid-padding-x">
              <div class="large-4 medium-4 cell">
                <p><a href="http://www.nhs.uk/Conditions/Blood-poisoning/Pages/Introduction.aspx">NHS Website</a><br /> Sepsis is described as a rare but serious consequence to an infection. Without quick treatment, it can lead to organ failure and death. </p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="https://www.youtube.com/watch?v=RUKkOPelG54&index=3&list=PLWHez0kRXfZ880x-xXWXvOUN-gPhZxJ8v"> AI and Faster Diagnosis</a><br /> Suchi Saria discusses the need for technology in the healthcare sector, to improve diagnoses of sepsis during its early stages. </p>
              </div>
              <div class="large-4 medium-4 cell">
                <p><a href="project.html"> Symptom Checker </a><br /> Click on the link above to check your symptoms. </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </body>
  </html>