<html>
  <head>
    <title>Sepsis Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="../static/css/template-style.css">
    <link rel="stylesheet" href="../static/css/components.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="stylesheet" href="../static/css/responsee.css">
    <link rel="stylesheet" href="../static/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../static/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/components.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/icons.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/responsee.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="owl-carousel/owl.carousel.css")}}">
    <link rel="stylesheet" href="{{ url_for("static", filename="owl-carousel/owl.theme.css")}}">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--  <link rel="stylesheet" type="text/css" href="sepsis.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  </head>

  <body>
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h1>What is Sepsis?</h1>
<li></li>
      <!-- Section 1 -->
      <section>
        <div class="line">
          <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <h2 class="text-thin"> NHS Information </h2>
              <p>Sepsis is described as a rare but serious consequence to an infection. Without quick treatment, it can lead to organ failure and death.</p>
              <a class="text-more-info text-primary-hover" href="http://www.nhs.uk/Conditions/Blood-poisoning/Pages/Introduction.aspx" target="_blank"><b>Read more</b></a>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <h2 class="text-thin">Technology in Healthcare</h2>
              <p>Suchi Saria discusses the need for technology in the healthcare sector, to improve diagnoses of sepsis during its early stages.</p>
              <a class="text-more-info text-primary-hover" href="https://www.youtube.com/watch?v=RUKkOPelG54&index=3&list=PLWHez0kRXfZ880x-xXWXvOUN-gPhZxJ8v" target="_blank"><b>Read more</b></a>
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <h2 class="text-thin">Symptom Checker</h2>
              <p>Click on the link below to check your symptoms against the medical SIRS Criteria used for assessing the progression of sepsis.</p>
              <a class="text-more-info text-primary-hover" href="project.html"><b>Read more</b></a>
            </div>
          </div>
        </div>
      </section>

<button onclick="project.html='www.sepsisscore.com/project'" type="button">
     Check your Sepsis Levels</button>
<li></li>
<p> Sepsis is the final common pathway to death from most infectious diseases worldwide. It arises when the body’s response to an infection injures its own tissues and organs. Sepsis follows a unique and time-critical clinical course, which in the early stages is highly amenable to treatment through early diagnosis and timely and appropriate clinical management. Currently, sepsis continues to cause approximately between six and nine million deaths worldwide every year, most of which are preventable. Many surviving patients suffer from the consequences for the rest of their lives. </p>
<li></li>
<p>
Most types of microorganisms can cause sepsis, including bacteria, fungi, viruses, and parasites. However, it may also be caused by infections with seasonal influenza viruses, dengue viruses, and highly transmissible pathogens of public health concern; such as avian and swine influenza viruses, Ebola, and yellow fever viruses. </p>
<li></li>
<p>
Sepsis is a major cause of maternal and neonatal morbidity and mortality in low- and middle-income countries and affects millions of hospitalized patients in high-income countries. </p>
<li></li>
<p>
In the community, sepsis often presents as the clinical deterioration of common and preventable infections such as those of the respiratory, gastrointestinal and urinary tract, or of wounds and skin. Sepsis is frequently under-diagnosed at an early stage - when it still is potentially reversible. (info extracted from: https://www.world-sepsis-day.org/sepsis) </p>
<li></li>

      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30"> Educate Yourself Today </h2>
            <p class="text-size-20"> Enter your email below to join our mailing list for further information on sepsis: </p>
              <form name="search" action="/project.py" method="post">
              <label for="name"> Name:</label>
              <input type="name" id="name" name="name" required="required"></br></br>
              <form name="search" action="/project.py" method="post">
              <label for="Email"> Email:</label>
              <input type="Email" id="Email" name="Email" required="required"></br></br>
              <input type="submit" value="Submit" id="submit-button">
          </div>
        </div>
      </section>

    </body>
  </html>
